.body-heigt {
  height: 90vh;
  overflow-y: scroll;
}

.header-configured {
  height: 8vh;
}

.sidbar-configured {
  background-color: #f7a0c7;
}
.header-configured {
  background-color: #e10098;
}

.order-table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
  margin-left: 5%;
}

.order-table th,
.order-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.order-table th {
  background-color: #f2f2f2;
}

.pure-table tbody tr:hover {
  background-color: #f5f5f5;
}

.order-button {
  background-color: #e10098;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.order-button:hover {
  background-color: #b80080;
}

.order-button:disabled {
  background-color: #b80080;
}

.paginatorButtonStyle {
  font-size: "14px";
  cursor: "pointer";
}

.currentPageStyle {
  font-weight: "bold";
  font-size: "16px";
}

.sidebar-configured {
  background-color: #b80080;
  padding: 20px;
  color: white;
  cursor: pointer;

}

.paginator {
  margin-top: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  justify-content: center;
}